@model appVps_up.Models.User

<div class="card">
    <div class="card-body">
        <p>Nombre : @Model.Name</p>
        <p>Email : @Model.Email</p>
        <p>Email : @Model.Password</p>
        <a asp-action="Index" asp-controller="User">Volver</a>
    </div>
</div>